<% layout('layout/page') -%>
<% block('title', 'Easy paint site!'); %>
<table align="center">
    <tr>
        <td>
            <p class="col-lg-offset-2 lead" style="padding-right: 30px">
                All the greatest artist start small.<br><br>
                You may try here!<br><br>
                Please log or sign in!</p>
        </td>
        <td style="padding-top: 50px"><img src="http://www.anypics.ru/large/201210/15554.jpg" style="box-shadow: 0 0 50px 15px #1B1E32"/></td>
    </tr>
    <tr>
        <td></td>
        <td align="right">
            <p class="col-lg-offset-2" style="padding-top: 30px; font-size: 13px ">We must speak up for our paintings.<br>
                We created them and they exist.And it is the most important thing.<br>
            <em>Vincent van Gogh</em></p>
        </td>
    </tr>
</table>