<% layout('./layout/page') -%>
<% block('title', "Paint") %>

<html lang="en" ng-app="myApp" class="no-js">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<body ng-controller="View1Controller">
<script src="angular/angular.js"></script>
<script src="angular-route/angular-route.js"></script>
<script src="view1/view1.js"></script>
<script src="view1/image-service.js"></script>
<script src="view1/imagelist.js"></script>
<script src="view1/fabric.js"></script>
<script src="view1/canvas-directive.js"></script>
<script src="version/version.js"></script>
<script src="version/version-directive.js"></script>
<script src="version/interpolate-filter.js"></script>
<script src="/view1/appPaint.js"></script>
<table style="width: 100%; padding-top: 50px">
    <tr>
        <td height="100px">
            <ul id="drawing-mode-options" style="list-style-type: none;">
                <li class="dropdown">
                    <h4 href="#" class="dropdown-toggle text-warning" data-toggle="dropdown" role="button" aria-expanded="false" style="font-size: 20px" >Brushes<span class="caret"></span></h4>
                    <ul class="dropdown-menu" role="menu">
                        <li><button id="Small" class="btn btn-default text-warning" ng-click="FirstWidth()" style="font-size: 15px">Small</button></li>
                        <li><button id="Second width" class="btn btn-default text-warning" ng-click="SecondWidth()" style="font-size: 15px">Medium</button></li>
                        <li><button id="Third width" class="btn btn-default text-warning" ng-click="ThirdWidth()" style="font-size: 15px">Big</button></li>
                    </ul>
                </li>
        </td>
        <td height="400px" width="1000px" style="vertical-align: top" rowspan="6">
        <canvas id='c' canvas-directive width="920px" height="400px" style="padding-left: 5px"></canvas>
        </td>
    </tr>
    <tr>
        <td height="10px">
            <div class="form-group">
                <ul style="list-style-type: none">
                    <li>
                        <label for="brushcolor" class="text-warning" aria-expanded="false" style="font-size: 20px" ><h4>Brushes color:</h4></label>
                    </li>
                </ul>
            </div>
        </td>
    </tr>
    <tr>
        <td height="10px" align="center">
            <div  style="width: 100px">
                <input type="color" class="form-control" id="brushcolor" style="background-color: transparent" ng-model="brushcolor"/>
            </div>
        </td>
    </tr>
    <tr>
        <td height="100px">
            <ul style="list-style-type: none">
            <li class="dropdown">
                <h4 href="#" class="dropdown-toggle text-warning" data-toggle="dropdown" role="button" aria-expanded="false" style="font-size: 20px">Save/Clear<span class="caret"></span></h4>
                <ul class="dropdown-menu" role="menu">
                    <li><button ng-click="send()" class="btn btn-default text-warning" style="font-size: 15px">Save</button></li>
                    <li><button id="clear-canvas" class="btn btn-default text-warning" ng-click="Clear()" style="font-size: 15px">Clear</button></li>
                </ul>
            </li>
            </ul>
        </td>
    </tr>
    <hr>
    <tr>
        <td height="100px" id="output" style="min-width: 180px; border: 1px dashed;" drop-directive>
                <p style="text-align: center; text-decoration: underline; font-size: 12px" class="text-warning">Drop Area</p>
        </td>
    </tr>
    <tr>
        <td>
            <div ng-controller="ImageListController">
                <div ng-repeat="image in images">
                    <image-directive></image-directive>
                    <script src="view1/drop-directive.js"></script>
                </div>
            </div>
        </td>
    </tr>
</table>
<hr>
</body>
</html>








