<nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">
        <li><a href="/">Main</a></li>
        <% if (user) { %>
        <li><a href="/paint">Paint</a></li>
        <% } %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <% if (user) { %>
        <li>
            <a href="" onclick="$('' + ' <form method=POST action=/logout/>').submit();return false">
                Sign out
            </a>
        </li>
        <% } else { %>
        <li><a href="/registry">Sign up</a></li>
        <li><a href="/login">Sign in</a></li>
        <% } %>
    </ul>
</nav>