<nav class="navbar navbar-inverse navbar-fixed-top">

    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span><!--Полоски на кноке-->
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">DW</a><!--Название организации(фирмы)-->
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li><a href="/" style="font-size: 15px">Home</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="/paint" style="font-size: 15px">Canvas</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <% if (user) { %>
                <li>
                    <a href="" onclick="$('' + ' <form method=POST action=/logout/>').submit();return false" style="font-size: 15px">
                        Sign out
                    </a>
                </li>
                <% } else { %>
                <li><a href="/registry" style="font-size: 15px">Sign up</a></li>
                <li><a href="/login" style="font-size: 15px">Sign in</a></li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>